body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 20px;
    color: #444;
    padding: 0 10px;
    font-family: sans-serif;
}

input {
    font-size: 18px;
}

input[type="text"] {
    width: 800px;
    height: 1.6;
}

input[type="submit"] {
    font-size: 18px;
    height: 2.0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.2
}
